<!-- include scripts -->
<!-- <script src="js/app/services/event.service.js"></script>
<script src="js/app/controllers/landing.controller.js"></script> -->

<div class="templatemo-welcome" id="templatemo-welcome" ng-controller="landingController">
    <div class="container">
        <div class="templatemo-slogan text-center">
            <span class="txt_darkgrey">Welcome to </span><span class="txt_orange">HandyRides</span>
            <p class="txt_slogan"><i>Let's drive together</i></p>
        </div> 

        <h3> Events You're Currently Registered For </h3>

	    <center>
		    <div class="row" ng-show="loading">
		            <img src="./images/loading.gif">
		    </div>
	    </center>

	    <div class="row" ng-show="!loading">
		    <div id="products" class="row list-group">
		        <div class="item  col-xs-4 col-lg-4" ng-repeat="event in userEvents | orderBy:'start.local'">
		            <div class="thumbnail">
		                <img class="group list-group-image" ng-if="event.logo.url" ng-src="{{event.logo.url}}" alt="" />
		                <img class="group list-group-image" ng-if="!event.logo.url" src="./images/Blair_Arch2.JPG" alt="" width = "450" height = "200"/>
		                <div class="caption">
		                    <h4 class="group inner list-group-item-heading">
		                        <a href="{{event.url}}">{{event.name.text}}</a></h4>
		                    <p class="group inner list-group-item-text">
		                        <div>{{event.description.text.substring(0,100) + "..."}}</div>
		                        <div><a href="" ng-click="openModal(event)">Read more</a></div></p>
		                    <div class="row">
		                        <div class="col-xs-12 col-md-6">
		                            <p class="lead">
		                                {{event.start.local | date:'medium'}} </p>
		                        </div>
		                        <div class="col-xs-12 col-md-6">
		                            <a class="btn btn-primary btn-lg" href="" ng-click="openRiderList(event.id)" ng-show="event.userStatus == 'rider'">Rider</a>
		                            <a class="btn btn-info btn-lg" href="" ng-click="openDriverList(event.id)" ng-show="event.userStatus == 'driver'">Driver</a>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div> 
	    </div>

	<h3 ng-if='recEvents.length != 0'> Events You May Be Interested In</h3>

    <div class="row" ng-show="recEvents.length!=0">
    <div id="products" class="row list-group">
        <div class="item  col-xs-4 col-lg-4" ng-repeat="event in recEvents | orderBy:'start.local'">
            <div class="thumbnail">
                <img class="group list-group-image" ng-if="event.logo.url" ng-src="{{event.logo.url}}" alt="" />
                <img class="group list-group-image" ng-if="!event.logo.url" src="./images/Blair_Arch2.JPG" alt="" width = "450" height = "200"/>
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        <a href="{{event.url}}">{{event.name.text}}</a></h4>
                    <p class="group inner list-group-item-text">
                        <div>{{event.description.text.substring(0,100) + "..."}}</div>
                        <div><a href="" ng-click="openModal(event)">Read more</a></div></p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                {{event.start.local | date:'medium'}} </p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="" ng-click="openRegisterModal(event)">Register Here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>